<header id='home-header' [@flyOutTop]='fireTransition' (@flyOutTop.done)="animationDone($event)"
[class.change-opacity]='true'> 
    <a href="/"><img [src]="logoSrc$ | async"></a>
    <h1 id="site-title">{{siteTitle$ | async}}</h1>
    <button id="page-menu-button" style='display: none'>Menu</button>
</header>
	
<wal-post-list  [posts]="posts$ | async"
[allPreviewsLoaded]="allPreviewsLoaded$ | async"
[postsLoading]="postsLoading$ | async"
[adminState]="getAdminState$"
(endOfListReachedEvent)=endOfListReachedEvent() 
(activatePostPreviewEvent)=navigateToPost($event)></wal-post-list>
